#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
#*.lib
*.sbr
*.sdf
*.sdp
*.o
*.exp
*.dep.inc
*.opensdf
*.doc
*.VC.db
*.VC.opendb